*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES - PLAY WITH THESE */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(244, 229, 243);
  /* --clr-light: rgb(251, 253, 230); */
  --clr-dark: #5e3405;
  --clr-accent: #a3cb7e;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.75);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* GENERAL STYLES */

html {
  scroll-behavior: smooth;
}


body {
  background: var(--clr-light);
  /* ^^ You can change this to 
  any of the colors in the root property above */
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section-title {
  margin-bottom: 0.25em;
}

.intro-title {
  font-weight: var(--fw-reg);
}

.intro-title strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.intro-subtitle,
.about-subtitle {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* HEADER SECTION */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
  font-size: 1em;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
  border: 0;
}

.nav-open .nav-toggle {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-toggle:focus, .nav-toggle:active {
  outline: 0;
  border: none;
}



.hamburger {
  display: block;
  position: relative;
  border: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* INTRO SECTION FOR SMALL SCREENS; ADJUST HERE A BIT */

.intro {
  position: relative;
  width: inherit;
}

.intro-image {
  box-shadow: var(--bs);
  width: inherit;
  transform: translateX(-5%)
}

.intro-subtitle {
  display: flex;
  flex-direction: row;
  width: inherit;
}

@media (min-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-image {
    width: 25%;
    margin-top: -3em;
    position: relative;
  }

  .intro-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
    height: 2em;
    margin-left: 18em;
    margin-right: 5em;
    margin-top: 1em;
    padding: 2px;
    transform: translateX(10%);
  }

  .intro-subtitle-text {
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro-title {
    transform: translateX(-25%);
  }
}

/* SERVICES */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(./images/greenhouse.png);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.services-title {
  color: var(--clr-accent);
  position: relative;
}

.services-title::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.service-header {
  color: var(--clr-accent);
}

.all-services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .all-services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 3em;
  }

  .btn {
    transform: translateX(-1.5rem);
  }

  .btn:hover {
    transform: scale(1.1) translateX(-1.5rem);
  }
}

/* ABOUT SECTION */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-image {
  width: 80%;
  box-shadow: var(--bs);
  z-index: 2;
  transform: translateY(10%)
}

.about-body {
  font-size: .8em;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1ft 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 1.5em;
  }

  .about-title {
    grid-area: title;
  }

  .about-subtitle {
    grid-column: 1 / -1;
    grid-row: 2;
    transform: translateX(-2em);
  }

  .about-me-image {
    grid-area: img;
    position: relative;
  }

  .about-me-body {
    font-size: 1em;
  }
}

/* PROJECTS SECTION */

.my-work {
  text-align: center;
}

.projects-subtitle {
  text-align: center;
  margin-bottom: 2em;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.portfolio-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.portfolio-item {
  background: var(--clr-accent);
  overflow: hidden;
  border: 1px solid var(--clr-dark);
}

.portfolio-img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  background: var(--clr-light);
}

.portfolio-item:focus {
  position: relative;
  z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
  transform: scale(1.2);
  opacity: 0.5;
}

#portfolio-img-three,
#portfolio-img-four {
  border: 10px solid white;
}

/* FOOTER SECTION */

footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

footer a {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-h3);
}

.footer-link {
  font-weight: var(--fw-bold);
}

.social-list-link:hover,
.footer-link:hover {
  opacity: 0.7;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list-item {
  margin: 0 0.5em;
}

.social-list-link {
  padding: 0.5em;
}
